/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color, #f1b2ce);
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--font, sans-serif);
  font-size: var(--text-size, 18px);
  line-height: var(--line-height, 1.3);
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  padding: 10px;
}

.decorated-zone {
  position: relative;
  height: 100vb;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--menu-color);
  border-block-start: 1px solid var(--menu-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--menu-color);
  border-block-end: 1px solid var(--menu-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: end;
  gap: 55px;
  padding: 10px;
}

.header__rec {
  position: absolute;
  display: var(--rec-display);
  color: var(--accent-color);
  inset-inline-end: 17px;
  inset-block-start: 10px;
}

.header__rec::after {
  content: "";
  display: inline-block;
  margin-inline-start: 10px;
  margin-block-end: 2px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #ff0070;
  background-color: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
}

.header__theme-menu {
  align-self: end;
  padding-block-end: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 0 13px 4px;
  color: var(--menu-color);
  line-height: 1.16;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-color);
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__title {
  justify-self: start;
  align-self: center;
  color: var(--title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 #ff0070;
}

.header__caption {
  align-self: baseline;
  font-weight: bold;
}

.section {
  display: grid;
  gap: 20px;
  padding: 30px 0 20px 0;
}

.card {
  display: grid;
  gap: 10px;
}

.section__title {
  color: var(--menu-color);
  font-size: inherit;
}

.section__caption {
  font-weight: bold;
}

.section-concetration .card__title {
  font-weight: normal;
}

.section__list {
  display: grid;
  gap: 20px;
}

.gallery {
  padding: 30px 0;
}

.gallery__title {
  margin-block-end: 10px;
  font-size: inherit;
}

.gallery__images {
  display: grid;
  gap: 10px;
}

.gallery__images-picture {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.card__title {
  font-size: inherit;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.link:hover {
  border-block-end: 1px solid white;
}

.title-decor {
  color: var(--heading-color, #000028);
  background-color: var(--accent-color);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  color: var(--title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 #ff0070;
}

@media (width >= 768px) {
  .header {
    gap: 60px;
    padding: 0 20px;
  }

  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__caption {
    inline-size: 50%;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__rec {
    inset-inline-end: 29px;
    inset-block-start: 20px;
  }

  .section-hard,
  .section-concetration {
    grid-template-columns: 1fr 2fr;
  }

  .main {
    padding: 30px 20px;
  }

  .section-question .section__title {
    inline-size: 25%;
  }

  .section {
    padding: 30px 0 50px 0;
  }

  .gallery__title {
    margin-block-end: 20px;
  }

  .gallery__images {
    grid-template-areas:
      "sunset sunset icecream"
      "tape books icecream"
      "tape street street";
    gap: 20px;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: icecream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
    gap: 85px;
    padding: 20px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-block-end: 10px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .section {
    gap: 10px;
  }

  .section-question {
    gap: 20px;
  }

  .section-question .section__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-question .card {
    align-items: start;
    height: min-content;
  }

  .section-question .section__title {
    inline-size: 33%;
  }
}
