/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--font, sans-serif);
  font-size: var(--text-size, 18px);
  /* background-color: var(--bg-color, #000028); */
  color: var(--text-color, #f1b2ce);
  line-height: var(--line-height, 1.3);
  background-image: url("../images/cover-image-dark.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  padding: 10px;
}

.decorated-zone {
  position: relative;
  height: 100vb;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 10px;
  inset-block-end: 10px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.header {
  display: grid;
  padding: 10px;
  justify-items: end;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 55px;
}

.header__decorated {
  position: absolute;
  color: var(--accent-color);
  inset-inline-end: 17px;
  inset-block-start: 10px;
}

.header__decorated::after {
  content: "";
  margin-inline-start: 10px;
  display: inline-block;
  padding: 6px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #ff0070;
}

.header__theme-menu {
  align-self: end;
  padding-block-end: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  color: var(--accent-color);
  background-color: transparent;
  text-transform: lowercase;
  padding: 4px 13px;
  cursor: pointer;
  line-height: 1;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 111, 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__title {
  color: #db00ff;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: bold;
  line-height: 82.5%;
  align-self: center;
}

.header__caption {
  align-self: baseline;
  font-weight: bold;
}

.section {
  display: grid;
  gap: 20px;
  padding: 30px 0 20px 0;
}

.section__card {
  display: grid;
  gap: 10px;
}

.section__title {
  color: var(--accent-color);
  font-size: inherit;
}

.section__list {
  display: grid;
  gap: 20px;
}

.gallery {
  padding: 30px 0;
}

.gallery__title {
  font-size: inherit;
  /* mb временный, убрать после вёрстки секций */
  margin-bottom: 10px;
}

.gallery__list {
  display: grid;
  gap: 10px;
}

.gallery__list-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__title {
  font-size: inherit;
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.link:hover {
  /* text-decoration: underline;
  text-underline-offset: 4px; */
  border-block-end: 1px solid white;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-color-accent, #000028);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  color: #db00ff;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-weight: bold;
  line-height: 82.5%;
}

@media (width >= 768px) {
  .header {
    padding: 0 20px;
  }

  .header__title {
    margin-inline-start: -20px;
    justify-self: start;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__caption {
    inline-size: 50%;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__decorated {
    inset-inline-end: 27px;
    inset-block-start: 20px;
  }

  .section-hard,
  .section-concetration {
    grid-template-columns: 1fr 2fr;
  }

  .main {
    padding: 30px 20px;
  }

  .section-question .section__title {
    inline-size: 25%;
  }

  .section {
    padding: 30px 0 50px 0;
  }

  .gallery__title {
    /* mb временный, убрать после вёрстки секций */
    margin-bottom: 20px;
  }

  .gallery__list {
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    gap: 20px;
    grid-template-areas:
      "sunset sunset icecream"
      "tape books icecream"
      "tape street street";
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: icecream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
    padding: 20px;
    gap: 85px;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
    padding-block-end: 10px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .section {
    gap: 10px;
  }

  .section-question {
    gap: 20px;
  }

  .section-question .section__list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section-question .section__card {
    align-items: start;
    height: min-content;
  }

  .section-question .section__title {
    inline-size: 33%;
  }
}
