/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
.page {
  --accent-color: #ff0070;
  --bg-color: #000028;
  --heading-color: var(--bg-color);
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --text-size: 18px;
  --rec-display: block;
  --menu-color: var(--accent-color);
  --menu-color-hover: rgba(255, 0, 111, 0.4);
  --bg-image: url("../images/cover-image-dark.png");
  --font: "IBM Plex mono";
  --line-height: 1.3;
}
